<script>
	var htmlcode = "";
		htmlcode += "<p>";
        
        htmlcode += "<br><strong><i>Reference Into Function:</i> </strong><%=referenceIntoFunction.substanceReferenceIntoFunction%></br>";
        
        htmlcode += "</p>";


	document.write(htmlcode);


</script>
