<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>CandActCFTR molecule format converters</title>
	</head>
	<body>

		<H1>molecule format converters</H1>
<br>
<hr>
As a service for searching and harmonizing entered new data we implemented some converters; e.g. smiles to InChI key<br><br></p>




	</body>
</html>
