<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>smiles to InChI key conversion test</title>

    



</head>
<body>

			<h1>smiles to InChI key</h1>

            <b>SMILES:</b> ${currentCompound.smiles} 
            <b>InChI:</b> ${currentCompound.inChIKey} 
            
			
			
</body>
</html>
