<!DOCTYPE html>
<html>
	<head>
	    <meta name="layout" content="main"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		

		<title>search CandActCFTR references</title>
    


<script>
$(document).ready(function(){
//     $("p").click(function(){
//         $(this).hide();
//     });
    $("#doIt").click(function(){
//         alert("clicked");
        $(this).hide();
    });
    $("#referenceArea").click(function(){
//         alert("clicked");
        $(this).html("buh <strong> buh </strong>");
        $("#div1").load("/LibraryReferences");
    });

    
});
</script>



</head>
<body>

<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>
<div>
    <button id="doIt">Do it</button>
</div>

<div id="referenceArea">
    <button id="loadIt">load reference</button>
</div>
<div id="div1" style="width:800px;height:80px;background-color:red;"></div><br>
<div id="div2" style="width:800px;height:8px;background-color:green;"></div><br>
<div id="div3" style="width:800px;height:8px;background-color:blue;"></div>
</body>
</html>
